/*******  LESS Style sheet for AirMaster
******************************************/
/**
 * CONTENTS
 *
 * SETTINGS
 * Global...............Globally-available variables and config.
 *
 *
 * GENERIC
 * Fonts................Font styles
 * 
 *
 * BASE
 * Headings.............H1–H6 styles.
 *
 *
 * TOOLS
 * Backgrounds..........background and background image position and styling.
 * Modals...............the slide-in modals for "find out more" link
 * Media Queries........all media querie code will be here
 *
 *
 * COMPONENTS
 * Wrappers.............Wrapping and constraining elements.
 * Page-head............The main page header.
 * Page-body............The main page body.
 * Page-foot............The main page footer.
 * 
 *
 */
.border {
  border: solid black 4px;
}
/*****  SETTINGS  *****************************************************************************************************/
/**  Global  *************************************************************/
img {
  max-width: 100%;
}
ul {
  list-style: none;
}
/*************************************************************************/
/*****  GENERIC  *****************************************************************************************************/
/**  Fonts  *************************************************************/
/**  TypeKit  *****************************/
.chaparralR {
  font-family: "chaparral-pro-n4", "chaparral-pro", sans-serif;
  font-style: normal;
  font-weight: 400;
}
.chaparralI {
  font-family: "chaparral-pro-i4", "chaparral-pro", sans-serif;
  font-style: italic;
  font-weight: 400;
}
.chaparralB {
  font-family: "chaparral-pro-n7", "chaparral-pro", sans-serif;
  font-style: normal;
  font-weight: 700;
}
.chaparralBI {
  font-family: "chaparral-pro-i7", "chaparral-pro", sans-serif;
  font-style: italic;
  font-weight: 700;
}
.calluna {
  font-family: "calluna-n4", "calluna", serif;
  font-style: normal;
  font-weight: 400;
}
.sourcesans {
  font-family: "source-sans-pro-n7", "source-sans-pro", sans-serif;
  font-style: normal;
  font-weight: 700;
}
/*********************************************/
#header {
  padding-top: 40px;
}
#header h1 a,
#header .email,
#header .phone {
  color: #d9293e;
}
h1 {
  font-size: 3.5em;
}
.nav_categories li a {
  text-transform: uppercase;
  font-size: .88em;
  color: #1c5599;
}
.email,
.phone {
  font-size: 1.7em;
  font-weight: bolder;
  color: #d9293e;
}
.main_body {
  font-size: 1.7em;
  color: #1c5599;
}
.location {
  font-size: 1.2em;
  color: #1c5599;
}
.single_category_post {
  font-weight: bolder;
}
.testimonial {
  color: #d9293e;
  font-size: 1.7em;
}
.quote {
  font-size: 1.75em;
  font-style: italic;
}
.quote_name {
  text-transform: uppercase;
  color: #ec95a0;
}
h3,
.about_title {
  color: #d9293e;
  text-transform: uppercase;
}
.modal-body {
  font-size: 1.25em;
}
.modal-body h3,
.modal-body .modal_contact_info,
.modal-body .read_more {
  font-weight: bold;
}
.modal_contact_info {
  color: #d9293e;
  font-size: 2em;
}
.read_more a {
  color: #1c5599;
  text-transform: uppercase;
  display: inline-block;
  border-bottom: solid 2px #1c5599;
  padding-bottom: 5px;
}
.read_more a:hover {
  text-decoration: none;
  color: #6aa2e4;
  border-bottom: solid 2px #6aa2e4;
}
.about_description {
  font-size: 1.3em;
}
#footer {
  font-size: 1.4em;
  color: #1c5599;
}
#footer h4 {
  color: #d9293e;
  text-transform: uppercase;
  letter-spacing: .07em;
  font-weight: bolder;
}
/*****  BASE  *****************************************************************************************************/
/**  Headings  *************************************************************/
h2 {
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 20px;
  padding-top: 20px;
}
/***************************************************************************/
/*****  TOOLS  *****************************************************************************************************/
/**  Backgrounds  *************************************************************/
.main_top {
  background-image: url("../img/michigan.png");
  background-repeat: no-repeat;
  background-position: 100% 30%;
  background-size: 75%;
  padding-top: 200px;
  padding-bottom: 30px;
  margin-top: -260px;
}
/******************

.testimonial:after {
	content: "";
    background: url("../img/gray-circle.jpg") no-repeat center;
  	opacity: 0.09;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;  
}

*******************/
.emergency {
  background-color: #f2f5f9;
}
#footer {
  border-top: solid 1px #d9293e;
  background-color: #f2f5f9;
}
/**  Fixed Headers  *************************************************************/
#header {
  width: 100%;
  position: fixed;
  top: 0;
  padding: 20px 0;
  z-index: 500;
  background: white;
}
/** Scrolling header effects ****************************************************/
.main-logo img,
.phone {
  -webkit-transition: all 0.5s cubic-bezier(0.52, -0.25, 0.83, 0.67);
  -moz-transition: all 0.5s cubic-bezier(0.52, -0.25, 0.83, 0.67);
  -ms-transition: all 0.5s cubic-bezier(0.52, -0.25, 0.83, 0.67);
  -o-transition: all 0.5s cubic-bezier(0.52, -0.25, 0.83, 0.67);
  transition: all 0.5s cubic-bezier(0.52, -0.25, 0.83, 0.67);
}
.email {
  -webkit-transition: all 0.5s cubic-bezier(0.52, -0.85, 0.83, 0.67);
  -moz-transition: all 0.5s cubic-bezier(0.52, -0.85, 0.83, 0.67);
  -ms-transition: all 0.5s cubic-bezier(0.52, -0.85, 0.83, 0.67);
  -o-transition: all 0.5s cubic-bezier(0.52, -0.85, 0.83, 0.67);
  transition: all 0.5s cubic-bezier(0.52, -0.85, 0.83, 0.67);
}
.phone {
  -webkit-transition: all 0.5s cubic-bezier(0.52, -0.25, 0.83, 0.67);
  -moz-transition: all 0.5s cubic-bezier(0.52, -0.25, 0.83, 0.67);
  -ms-transition: all 0.5s cubic-bezier(0.52, -0.25, 0.83, 0.67);
  -o-transition: all 0.5s cubic-bezier(0.52, -0.25, 0.83, 0.67);
  transition: all 0.5s cubic-bezier(0.52, -0.25, 0.83, 0.67);
}
@media screen and (min-width: 550px) {
  .smaller img,
  .smaller .email {
    -webkit-transition: all 0.5s cubic-bezier(0.52, -0.5, 1.83, 0.97);
    -moz-transition: all 0.5s cubic-bezier(0.52, -0.5, 1.83, 0.97);
    -ms-transition: all 0.5s cubic-bezier(0.52, -0.5, 1.83, 0.97);
    -o-transition: all 0.5s cubic-bezier(0.52, -0.5, 1.83, 0.97);
    transition: all 0.5s cubic-bezier(0.52, -0.5, 1.83, 0.97);
  }
  .smaller .phone {
    -webkit-transition: all 0.5s cubic-bezier(0.52, -0.5, 0.83, 0.067);
    -moz-transition: all 0.5s cubic-bezier(0.52, -0.5, 0.83, 0.067);
    -ms-transition: all 0.5s cubic-bezier(0.52, -0.5, 0.83, 0.067);
    -o-transition: all 0.5s cubic-bezier(0.52, -0.5, 0.83, 0.067);
    transition: all 0.5s cubic-bezier(0.52, -0.5, 0.83, 0.067);
  }
  .smaller img {
    max-width: 40%;
    margin-left: 5%;
  }
  .smaller .email,
  .smaller .phone {
    font-size: 1em;
    color: #d9293e;
  }
  .smaller .email {
    margin-right: 120px;
  }
  .smaller .phone {
    margin-top: -19px;
  }
}
/**  Modals  *************************************************************/
.modal-dialog {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  width: 60%;
  max-width: 800px;
}
.modal-header {
  padding: 32px 0;
}
.modal-body {
  padding: 30px 25px;
}
.modal-body h3 {
  margin-top: 10px;
  margin-bottom: 35px;
}
.modal-content {
  min-height: 100vh;
}
.modal_contact_info {
  text-align: center;
  margin: 110px 0;
}
.modal_contact_info p:last-child {
  margin-top: 100px;
}
.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform 0.5s ease-out;
  -o-transition: -o-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  -webkit-transform: translate(50%, 0);
  -ms-transform: translate(50%, 0);
  -o-transform: translate(50%, 0);
  transform: translate(50%, 0);
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.close {
  z-index: 200;
  float: left;
  color: #1c5599;
  margin-left: -155px;
  padding-left: 100px;
  font-size: 5em;
  font-weight: lighter;
  background: white !important;
  opacity: 1;
  border-radius: 20px 0 0 20px;
}
.close img {
  max-width: 70%;
}
button.close {
  padding: 20px 5px;
  margin-top: -30px;
  max-height: 100%;
}
.close:hover {
  opacity: .95 !important;
}
.modal-body .read_more {
  text-align: center;
  margin-bottom: 100px;
  font-size: 1.25em;
}
.modal_img img {
  width: 100%;
  max-height: 366px;
}
/******************************************************************************************************

	COMPONENTS 

 *****************************************************************************************************/
/**  Wrappers  *************************************************************/
.container {
  max-width: 860px;
}
/**  Page-head  *************************************************************/
#content {
  padding-top: 260px;
}
.location {
  padding: 20px 0;
}
.phone {
  margin-top: 3%;
}
.modal .phone {
  margin-top: 0;
}
ul.main_nav {
  padding-left: 0;
}
.main_nav li {
  display: inline-block;
}
.nav_categories li a {
  margin: 0;
  padding: 0;
  padding-left: 10px;
}
.phone,
.email,
.nav_categories {
  text-align: right;
}
.main_img_wrapper img {
  max-width: 83%;
}
/**  Page-body  *************************************************************/
.main_top {
  margin-bottom: 145px;
}
section {
  margin: 30px 0;
}
.business_categories {
  margin-bottom: 0px;
  margin-top: 50px;
}
.single_category_post {
  padding: 50px 40px;
}
.single_category_post img {
  border-radius: 100%;
  min-height: 325px;
}
.biz-img img {
  margin-top: 8%;
}
.category_info {
  padding: 20px 40px 0px 20px;
}
.category_info p {
  padding: 5px 0;
}
.emergency {
  padding: 50px 0;
  text-align: center;
}
.emergency h3 {
  margin-bottom: 17%;
  margin-top: -1%;
}
.about {
  padding: 10px 50px 40px;
  text-align: center;
}
.about_description {
  margin-bottom: 3%;
}
.testimonial {
  padding: 30px 0;
}
.quote,
.quote_name {
  text-align: center;
}
.quote {
  margin-top: 30px;
}
.quote_name {
  margin-top: 5%;
}
/**  Page-foot  *************************************************************/
#footer {
  margin-top: 30px;
  margin-left: 0px;
  padding: 50px 0;
  padding-top: 30px;
}
#footer .social_icons li {
  display: inline;
}
#footer .social_icons li img {
  max-width: 10%;
  margin-left: -6px;
  margin-right: 10px;
  margin-top: 10px;
}
.footer_info {
  padding-bottom: 6%;
}
.footer-img {
  max-width: 70%;
  padding-bottom: 40px;
  padding-top: 6px;
}
.map {
  min-height: 320px;
  text-align: right;
}
.map iframe {
  width: 100%;
  border: solid 2px #1c5599;
}
/********************************************************************************
	
	MEDIA QUERIES

*******************************************************************************/
@media screen and (min-width: 991px) {
  .footer-content {
    margin-left: 15px;
  }
}
@media screen and (max-width: 991px) {
  .single_category_post img {
    min-height: 300px;
    max-width: 100%;
  }
  .location {
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 767px) {
  body {
    font-size: 1.2em;
  }
  #content {
    padding-top: 280px;
  }
  .single_category_post img {
    min-height: 160px;
    max-width: 100%;
  }
  .biz-img img {
    margin-top: 25%;
  }
  header img {
    margin-bottom: 6%;
  }
  .email,
  .phone {
    font-size: 1.3em;
  }
  .location {
    padding-bottom: 90px;
  }
  .main_top {
    margin-bottom: 25px;
  }
  .testimonial,
  .modal_contact_info {
    font-size: 1.15em;
  }
  .modal-body .read_more {
    font-size: .95em;
  }
  .close {
    margin-left: -160px;
  }
  .close img {
    max-width: 60%;
  }
  .modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform 0.5s ease-out;
    -o-transition: -o-transform 0.5s ease-out;
    transition: transform 0.5s ease-out;
    -webkit-transform: translate(50%, 0);
    -ms-transform: translate(50%, 0);
    -o-transform: translate(50%, 0);
    transform: translate(50%, 0);
  }
  .modal.in .modal-dialog {
    -webkit-transform: translate(37%, 0);
    -ms-transform: translate(37%, 0);
    -o-transform: translate(37%, 0);
    transform: translate(37%, 0);
  }
  .modal-dialog {
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    width: 72%;
    max-width: 800px;
  }
  .footer-logo img {
    max-width: 60%;
  }
}
@media screen and (max-width: 461px) {
  body {
    font-size: 1.2em;
  }
  #header {
    padding-bottom: 8px;
  }
  .location {
    padding: 10px 0;
  }
  .close {
    margin-left: -140px;
  }
  .close img {
    max-width: 20%;
    padding: 0;
  }
  .modal.in .modal-dialog {
    -webkit-transform: translate(22%, 0);
    -ms-transform: translate(22%, 0);
    -o-transform: translate(22%, 0);
    transform: translate(22%, 0);
  }
  .modal-dialog {
    width: 80%;
    max-width: 800px;
  }
  #content {
    padding-top: 210px;
  }
  .main_nav {
    font-size: .7em;
  }
  .modal_nav {
    font-size: 1em;
  }
  .single_category_post {
    padding: 20px 0;
  }
  .single_category_post img {
    min-height: 110px;
    max-width: 100%;
  }
  .biz-img img {
    margin-top: 50%;
  }
  .social_icons li img {
    margin-left: 0px;
  }
}
/***************************************************************************/
