/*******  LESS Style sheet for AirMaster
******************************************/
.chaparralR {
  font-family: "chaparral-pro-n4", "chaparral-pro", sans-serif;
  font-style: normal;
  font-weight: 400;
}
.chaparralI {
  font-family: "chaparral-pro-i4", "chaparral-pro", sans-serif;
  font-style: italic;
  font-weight: 400;
}
.chaparralB {
  font-family: "chaparral-pro-n7", "chaparral-pro", sans-serif;
  font-style: normal;
  font-weight: 700;
}
.chaparralBI {
  font-family: "chaparral-pro-i7", "chaparral-pro", sans-serif;
  font-style: italic;
  font-weight: 700;
}
.calluna {
  font-family: "calluna-n4", "calluna", serif;
  font-style: normal;
  font-weight: 400;
}
.sourcesans {
  font-family: "source-sans-pro-n7", "source-sans-pro", sans-serif;
  font-style: normal;
  font-weight: 700;
}
#header {
  padding-top: 20px;
}
#header h1 a,
#header .email,
#header .phone {
  color: #d9293e;
}
h1 {
  font-size: 3.5em;
}
.nav_categories li a {
  text-transform: uppercase;
  font-size: .88em;
  color: #1c5599;
}
.email,
.phone {
  font-size: 1.7em;
  font-weight: bolder;
}
.main_body {
  font-size: 2.25em;
  color: #1c5599;
}
.location {
  font-size: 1.2em;
  color: #1c5599;
}
.single_category_post {
  font-weight: bolder;
}
.testimonial {
  color: #d9293e;
  font-size: 1.7em;
}
.quote {
  font-size: 1.75em;
  font-style: italic;
}
.quote_name {
  text-transform: uppercase;
  color: #ec95a0;
}
.category_info h3,
.about_title {
  color: #d9293e;
  text-transform: uppercase;
}
.read_more a {
  color: #1c5599;
  text-transform: uppercase;
  display: inline-block;
  border-bottom: solid 2px #1c5599;
  padding-bottom: 5px;
}
.read_more a:hover {
  text-decoration: none;
  color: #6aa2e4;
  border-bottom: solid 2px #6aa2e4;
}
.about_description {
  font-size: 1.3em;
}
#footer {
  font-size: 1.4em;
  color: #1c5599;
}
#footer h4 {
  color: #d9293e;
  text-transform: uppercase;
  letter-spacing: .15em;
  font-weight: bolder;
}
.main_top {
  background: url("../img/michigan.png") no-repeat;
  background-position: 100% 30%;
  background-size: 75%;
  padding-top: 200px;
  padding-bottom: 30px;
  margin-top: -200px;
}
.circle_bg {
  background-color: #f2f5f9;
  border-radius: 100%;
  height: 400px;
  margin-top: 20%;
  margin-bottom: -77%;
}
.single_category_post img {
  border-radius: 100%;
}
.emergency {
  background-color: #f2f5f9;
}
#footer {
  border-top: solid 1px #d9293e;
  background-color: #f2f5f9;
}
img {
  max-width: 100%;
}
ul {
  list-style: none;
}
.container {
  max-width: 1900px;
}
#header {
  margin-top: 20px;
  margin-bottom: 7%;
}
.phone {
  margin-top: 3%;
}
section {
  margin: 100px 0;
}
.business_categories {
  margin-bottom: 0px;
  margin-top: 100px;
}
.main_nav li {
  display: inline-block;
}
.nav_categories li a {
  margin: 0;
  padding: 0;
  padding-left: 10px;
}
.phone,
.email,
.nav_categories {
  text-align: right;
}
.emergency {
  text-align: center;
}
.emergency h3 {
  margin-bottom: 17%;
  margin-top: -5%;
}
/*****************************************
Modal for About Us and Testimonials
*****************************************************/
.modal-dialog {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.modal-content {
  min-height: 100vh;
  padding: 30px;
}
.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform 0.5s ease-out;
  -o-transition: -o-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  -webkit-transform: translate(50%, 0);
  -ms-transform: translate(50%, 0);
  -o-transform: translate(50%, 0);
  transform: translate(50%, 0);
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
/**************************************************************/
.main_img_wrapper img {
  max-width: 80%;
}
.main_body,
.location,
.main_img_wrapper {
  padding: 20px 0;
}
.main_body {
  padding-right: 10%;
}
h2 {
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 20px;
  padding-top: 20px;
}
.single_category_post {
  margin: 90px 0;
}
.single_category_post img {
  min-height: 600px;
}
h3 {
  padding-bottom: 20px;
}
.category_info {
  padding: 90px 60px 90px 40px;
}
.category_info p {
  padding: 5px 0;
}
.single_category_post img {
  width: 100%;
}
.quote,
.quote_name {
  text-align: center;
}
.quote_name {
  margin-top: 5%;
}
.partners {
  max-width: 90%;
  margin: auto;
}
.partners h2 {
  margin-bottom: 20px;
}
.logo_images {
  padding: 10%;
}
.about {
  margin-top: 10px;
  padding: 0 50px;
  text-align: center;
}
.about_description {
  margin-bottom: 3%;
}
#footer {
  margin-top: 200px;
  margin-bottom: 10px;
  margin-left: 0px;
  padding: 50px;
  padding-top: 30px;
}
#footer .social_icons li {
  display: inline;
}
#footer .social_icons li img {
  max-width: 10%;
  margin-left: -8px;
  margin-right: 10px;
  margin-top: 10px;
}
.footer_info {
  padding-bottom: 6%;
}
.footer_info img {
  max-width: 70%;
  padding-bottom: 40px;
  padding-top: 6px;
}
.map {
  width: 100%;
  text-align: right;
}
.map img {
  border: solid 2px #1c5599;
}
