
/*******  LESS Style sheet for AirMaster
******************************************/

/**
 * CONTENTS
 *
 * SETTINGS
 * Global...............Globally-available variables and config.
 *
 *
 * GENERIC
 * Fonts................Font styles
 * 
 *
 * BASE
 * Headings.............H1–H6 styles.
 *
 *
 * TOOLS
 * Backgrounds..........background and background image position and styling.
 * Modals...............the slide-in modals for "find out more" link
 * Media Queries........all media querie code will be here
 *
 *
 * COMPONENTS
 * Wrappers.............Wrapping and constraining elements.
 * Page-head............The main page header.
 * Page-body............The main page body.
 * Page-foot............The main page footer.
 * 
 *
 */



/*****  SETTINGS  *****************************************************************************************************/

/**  Global  *************************************************************/

// COLOR
@red: rgb(217, 41, 62);
@blue: rgb(28, 85, 153);
@bg-lightGray: rgb(242,245,249);


img {
	max-width: 100%;
}

ul {
	list-style: none;
}

a {
	color: inherit;
}

a:hover {
	color: inherit;
	text-decoration: none;
	opacity: .45;
}

a:visited, a:link, a:active {
	text-decoration: none;
	color: inherit;
}



/*************************************************************************/




/*****  GENERIC  *****************************************************************************************************/

/**  Fonts  *************************************************************/


/**  TypeKit  *****************************/

.chaparralR {
	font-family: "chaparral-pro-n4","chaparral-pro",sans-serif;
	font-style: normal;
	font-weight: 400;
}

.chaparralI {
	font-family: "chaparral-pro-i4","chaparral-pro",sans-serif;
	font-style: italic;
	font-weight: 400;
}

.chaparralB {
	font-family: "chaparral-pro-n7","chaparral-pro",sans-serif;
	font-style: normal;
	font-weight: 700;
}

.chaparralBI {
	font-family: "chaparral-pro-i7","chaparral-pro",sans-serif;
	font-style: italic;
	font-weight: 700;
}

.calluna {
	font-family: "calluna-n4","calluna",serif;
	font-style: normal;
	font-weight: 400;
}

.sourcesans {
	font-family: "source-sans-pro-n7","source-sans-pro",sans-serif;
	font-style: normal;
	font-weight: 700;
}

.sourcesansL {
	font-family: "source-sans-pro-n7","source-sans-pro",sans-serif;
	font-style: normal;
	font-weight: 300;
}

/*********************************************/

body {
	.chaparralR();
}

h1, h2, h3, h4, h5 {
	.sourcesans();
}

#header {
	padding-top: 40px;
	h1 a, .email, .phone { 
		color: @red;
	};
}

h1 {
	font-size: 3.5em;
}

h3, .about_title {
	color: @red;
	text-transform: uppercase;
}

a, button {
	&:focus, &:active {
		outline: none;
	}
}

.nav_categories li a {
	text-transform: uppercase;
	font-size: .88em;
	color: @blue;
}

.email, .phone {
	font-size: 1.7em;
	.sourcesans();
	color: @red;
}

.main_top {
	color: @blue;
	.main_body {
		.calluna();
		max-width: 25em;
		font-size: 2em;
	}
	.location {
		.sourcesansL();
		font-size: 1.2em;
		max-width: 22em;
	}
}

.single_category_post {
	/* font-weight: bolder; */
	ul {
		list-style: disc;
		font-size: 1.2em;
		padding-left: 1.2em;
	}
}

.testimonial {
	color: @red;
	font-size: 1.3em;
	margin: 6em 0;
	.quote {
		font-size: 1.75em;
		.chaparralR();
		line-height: 1.3em;
	}
	.quote_name {
		text-transform: uppercase;
		color: lighten(@red, 25%);
		.sourcesans();
		letter-spacing: 1px;
	}
	@media screen and (max-width: 800px) {
		margin: 3em 0;
	}
}

.testimonial_name {
	text-transform: uppercase;;
	color: @red;
	text-align: center;
}

.modal-body {
	font-size: 1.25em;
	h3, .modal_contact_info, .read_more {
		font-weight: bold;
	}
}

.modal_contact_info {
	color: @red;
	font-size: 2em;
}


.read_more a {
	color: @blue;
	text-transform: uppercase;
	display: inline-block;
	border-bottom: solid 2px @blue;
	padding-bottom: 5px;
	.sourcesans();
	&:hover {
		text-decoration: none;
		color: lighten(@blue, 30%);
		border-bottom: solid 2px lighten(@blue, 30%);
	}
}

.about_description {
	font-size: 1.3em;
}

#footer {
	font-size: 1.4em;
	color: @blue;
	h4 {
		color: @red;
		text-transform: uppercase;
		letter-spacing: .07em;
	};
}



//////////////////////////////////////////////////////////////////////////////



/*****  BASE  *****************************************************************************************************/

/**  Headings  *************************************************************/


h2 {
	text-align: center;
	text-transform: uppercase;
	padding-bottom: 20px;
	padding-top: 20px;
}

h3 	{
	
}


/***************************************************************************/



/*****  TOOLS  *****************************************************************************************************/

/**  Backgrounds  *************************************************************/

.main_top {
	background-image: url("../img/michigan.png");
	background-repeat: no-repeat;
	-webkit-background-position: 95% 0;
	   -moz-background-position: 95% 0;
	     -o-background-position: 95% 0;
		    background-position: 95% 0;
	-webkit-background-size: contain;
	   -moz-background-size: contain;
	     -o-background-size: contain;
	        background-size: contain;
	padding: 130px 0 30px 0;
	margin-top: -130px;
}



.main_img_wrapper {
	height: 350px;
	width: 65%;
	left: 12%;
	position: relative;
	@media screen and (max-width: 1300px) {
		width: 70%;
		left: 5%;
	}
	@media screen and (max-width: 1150px) {
		height: 350px;
		width: 77%;
		left: 0;
	}
	@media screen and (max-width: 800px) {
		height: 260px;
		width: 78%;
	}
	@media screen and (max-width: 461px) {
		width: 93%;
	}
}

.spring, .summer, .fall, .winter {
	display: none;
}



/************
.test_circle_bg {
	content: " ";
    background-color: lighten(@blue, 60%);
    border-radius: 50%;
    width: 305px;
    height: 310px;
    display: inline-block;
    z-index: -1;
    position: relative;
}

.circle_container {
	text-align: center;
	z-index: -1;  
	margin-top: -270px;
}

***************/

.quote_box {
	margin-top: -284px;
	height: 280px;
}

.short_quote {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);

}

.circle {
	background-color: lighten(@blue, 61%);
	border-radius: 50%;
	margin: 5px auto;
	height: 280px;
	width: 280px;
}

.emergency {
	background-color: @bg-lightGray;
	p {
		font-size: 1.5em;
	}
}

#footer {
	border-top: solid 1px @red;
	background-color: @bg-lightGray;
}



/**  Fixed Headers  *************************************************************/

body {
	
}

#header {
	width: 100%;
	position: fixed;
	top: 0;
	padding: 20px 0;
	z-index: 5000;
	background: transparent;
	.main-logo {
		max-width: 330px;
	}

}


/** Scrolling header effects ****************************************************/

.main-logo img, .phone {
  -webkit-transition: all 0.5s cubic-bezier(.52,-0.25,.83,.67);
   -moz-transition: all 0.5s cubic-bezier(.52,-0.25,.83,.67);
    -ms-transition: all 0.5s cubic-bezier(.52,-0.25,.83,.67);
      -o-transition: all 0.5s cubic-bezier(.52,-0.25,.83,.67);
  	    transition: all 0.5s cubic-bezier(.52,-0.25,.83,.67);
}

.email {
	-webkit-transition: all 0.5s cubic-bezier(.52,-0.85,.83,.67);
	 -moz-transition: all 0.5s cubic-bezier(.52,-0.85,.83,.67);
	 -ms-transition: all 0.5s cubic-bezier(.52,-0.85,.83,.67);
	  -o-transition: all 0.5s cubic-bezier(.52,-0.85,.83,.67);
	   transition: all 0.5s cubic-bezier(.52,-0.85,.83,.67);
	   
}

.phone {
	-webkit-transition: all 0.5s cubic-bezier(.52,-0.25,.83,.67);
	 -moz-transition: all 0.5s cubic-bezier(.52,-0.25,.83,.67);
	 -ms-transition: all 0.5s cubic-bezier(.52,-0.25,.83,.67);
	  -o-transition: all 0.5s cubic-bezier(.52,-0.25,.83,.67);
	   transition: all 0.5s cubic-bezier(.52,-0.25,.83,.67);
	
}

@media screen and (min-width: 767px) {

	.smaller img, .smaller .email {
	  -webkit-transition: all 0.5s cubic-bezier(.52,-0.85,1.83,.97);
	  -moz-transition:    all 0.5s cubic-bezier(.52,-0.85,1.83,.97);
	  -ms-transition:     all 0.5s cubic-bezier(.52,-0.85,1.83,.97);
	  -o-transition:      all 0.5s cubic-bezier(.52,-0.85,1.83,.97);
	  transition:         all 0.5s cubic-bezier(.52,-0.85,1.83,.97);
	}

	.smaller .phone {
	  -webkit-transition: all 0.5s cubic-bezier(.52,-0.5,.83,.067);
	  -moz-transition:    all 0.5s cubic-bezier(.52,-0.5,.83,.067);
	  -ms-transition:     all 0.5s cubic-bezier(.52,-0.5,.83,.067);
	  -o-transition:      all 0.5s cubic-bezier(.52,-0.5,.83,.067);
	  transition:         all 0.5s cubic-bezier(.52,-0.5,.83,.067);
	}


	.smaller img {
	  max-width: 75%;
	  margin-left: 5%;
	}

	.smaller .email, .smaller .phone {
		font-size: 1.35em;
		color: @red;
	}

	.smaller .email {
		margin-right: 170px;
	}

	.smaller .phone {
		margin-top: -27px;
		margin-left: 6%;
	}

}





/**  Modals  *************************************************************/

#textModal {
	
}

.modal-dialog {
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	width: 60%;
	max-width: 800px;
	
}



.modal-body {
	padding: 7% 10% 13% 10%;
	h3 {
		margin-top: 10px;
		margin-bottom: 35px
	}
	.modal-body-wrapper {
		max-width: 30em;
		margin: 0 auto;
	}
	.close {
		position: absolute;
		left: 15px;
		top: 30px;
	}
	.testimonial {
		padding: 0;
		margin-top: 0;
		margin-bottom: 0;
		color: black;
	}
	.quote {
		margin-bottom: 30px;
	}
	.quote_name {
		margin-top: 30px;
		margin-bottom: 80px;
	}
}

.modal-content {
	min-height: 100vh;
	margin-top: 95px;
	h2 {
		margin: 40px 0;
	}
}

#testimonialsModal h3 {
	margin-top: 0px;
	padding-bottom: 30px;
}

.modal_testimonial {
	padding-bottom: 50px;
	.testimonial_name {
		padding-top: 15px;
	}
}



.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform .5s ease-out;
       -o-transition:      -o-transform .5s ease-out;
          transition:         transform .5s ease-out;
  -webkit-transform: translate(50%, 0);
      -ms-transform: translate(50%, 0);
       -o-transform: translate(50%, 0);
          transform: translate(50%, 0);
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
       -o-transform: translate(0, 0);
          transform: translate(0, 0);
}


.close {
	z-index: 200;
	float: left;
	color: @blue;
	margin-left: -155px;
	padding-left: 100px;
	font-size: 5em;
	font-weight: lighter;
	background: white !important;
	opacity: 1;	
	border-radius: 20px 0 0 20px;

	img {
		max-width: 70%;
	}
}

button.close {
	padding: 20px 5px;
	margin-top: -30px;
	max-height: 100%;

}

.close:hover {
		opacity: .95 !important;
	}



.modal-body .read_more {
	text-align: center;
	margin-bottom: 100px;
	font-size: 1.25em;
}

.modal_img img {
	width: 100%;
	height: auto;
}


.modal-backdrop {
	background-color: @blue;
}

.bodytext {
	margin-bottom: 4em;
	h3 {
		text-transform: none;
		margin: 2em 0 1em;
		text-align: center;
	}
	h2 {
		color: @red;
		font-size: 2em;
		text-transform: none;
		margin: 1em 0;
	}
}



/******************************************************************************************************

	COMPONENTS 

 *****************************************************************************************************/

/**  Wrappers  *************************************************************/


.container {
	max-width: 860px;
}



/**  Page-head  *************************************************************/



#content {
	padding-top: 160px;
}

.location {
	padding: 20px 0;
}

.phone {
	margin-top: 3%;
	z-index: 1;
}

.modal .phone {
	margin-top: 0;
}

.main_nav  {
	padding-left: 0;
}

.main_nav li {
	display: inline-block;
}

.nav_categories li a {
	margin: 0;
	padding: 0;
	padding-left: 10px;
}

.phone, .email, .nav_categories {
	text-align: right;
}

.email {
	z-index: 500;
	position: relative;
	overflow: left;
}








/**  Page-body  *************************************************************/


.main_top {
	/* margin-bottom: 145px; */
}

section {
	margin: 10px 0;
}


.business_categories {
	margin-bottom: 0px;
	margin-top: 50px;
}

.single_category_post {
	padding: 50px 40px;
	img {
		border-radius: 100%;
		height: 350px;
		width: 350px;
		@media screen and (max-width: 991px) {
			height: 290px;
			width: 290px;
		}
		@media screen and (max-width: 767px) {
			height: auto;
			width: 100%;
			border-radius: 0;
		}
	}
}

#barbecue {
	padding-bottom: 0;
}

#barbecue img {
	max-height: 350px;
	width: 440px;
	@media screen and (max-width: 767px) {
		height: auto;
		width: 100%;
		max-height: 580px;
	}
	@media screen and (max-width: 600px) {
		max-height: 500px;
	}
}

.biz-img img {
	margin-top: 2em;
}

.category_info {
	padding: 1em 2.2em;
	p {
		padding: 5px 0;
		font-size: 1.2em;
	};
	h3 {
		padding-bottom: 5%;
	}
	.read_more {
		padding-top: 3%;
	}
}

.emergency {
	padding: 100px 0;
	text-align: center;
	h3 {
	margin-bottom: 2em;
	margin-top: 1em;
	};
}


.about {
	padding-top: 100px;
	text-align: center;
	.read_more {
		margin: 2em 0;
	}
}

.about_description {
	margin-bottom: 3%;
}


.testimonial {
	padding: 30px 0;
}

.quote, .quote_name {
	text-align: center;
}

.quote_name {
	margin-top: 5%;
}



/**  Page-foot  *************************************************************/


#footer {
	margin-top: 30px;
	margin-left: 0px;
	padding: 50px 0;
	padding-top: 30px;
	.social_icons li {
		display: inline;
		img {
			max-width: 10%;
			margin-left: -6px;
			margin-right: 10px;
			margin-top: 10px;
		};
	};
}


.footer_info {
	position: relative;
	padding-bottom: 6%;
	margin: 0 0 2em;
	padding: 0;
	.sourcesansL();
	h4 {
		.sourcesans();
	}
	&.footer-logo {
		margin-bottom: 4em;
	}
}

.contact_info {
	z-index: 500;

}

.footer-img {
	max-width: 70%;
	padding-bottom: 40px;
	padding-top: 6px;
}



.map {
	min-height: 320px;
	text-align: right;
	iframe {
		width: 100%;
		border: solid 2px @blue;
	}
}





/********************************************************************************
	
	MEDIA QUERIES

*******************************************************************************/


@media screen and (min-width: 991px) {
   
   .footer-content {
		margin-left: 15px;
	}
}


@media screen and (max-width: 991px) {

	.location {
		padding-bottom: 50px;
	}

	.modal-content {
		margin-top: 87px;
	}
}



@media screen and (max-width: 767px) {

	body {
    	font-size: 1.2em;
    }

	header img {
		margin-bottom: 6%;
	}

	.email, .phone {
		line-height: 1em;
		font-size: 1.45em;
	}

	.email {
		margin-top: .15em;
	}

	.main_top {
		.main_body {
			max-width: 20em;
		};
	}

	.location {
		padding-bottom: 40px;
	}

	.main_top {
		margin-bottom: 25px;
	}

	.category_info {
		/* padding: 20px 40px 0px 20px; */
		padding: 1em 0;
		p {
			padding: 5px 0;
			font-size: 1.2em;
		};
		h3 {
			padding-bottom: 2%;
		}
		.read_more {
			padding-top: 1.5%;
		}
	}


	.testimonial, .modal_contact_info {
		font-size: 1.15em;
	}

	.test_circle_bg {
	    width: 250px;
	    height: 250px;
	}

	.circle_container {
		margin-top: -210px;
	}

	.modal-body .read_more {
		font-size: .95em;
	}

	.close {
		margin-left: -150px;

		img {
			max-width: 60%;
		};	
	}

	.modal.fade .modal-dialog {
	  -webkit-transition: -webkit-transform .5s ease-out;
	       -o-transition:      -o-transform .5s ease-out;
	          transition:         transform .5s ease-out;
	  -webkit-transform: translate(50%, 0);
	      -ms-transform: translate(50%, 0);
	       -o-transform: translate(50%, 0);
	          transform: translate(50%, 0);
	}

	.modal.in .modal-dialog {
	  -webkit-transform: translate(37%, 0);
	      -ms-transform: translate(37%, 0);
	       -o-transform: translate(37%, 0);
	          transform: translate(37%, 0);
	}

	.modal-content {
		margin-top: 26%;
	}

	.modal-dialog {
		margin-right: 0;
		margin-top: 0;
		margin-bottom: 0;
		width: 72%;
		max-width: 800px;
	}

	.footer-logo img {
		max-width: 60%;
	}
}

@media screen and (min-width: 481px) {
     .main_nav {
     	margin-top: 5px;
  	}
}


@media screen and (max-width: 481px) {
    body {
    	font-size: 1.2em;
    }

    #header {
		padding-bottom: 13px;
		background: white;
	}

	.main_top {
		margin-top: -160px;
	}

	.main_body p {
		font-size: .8em;
	}

	.location {
		padding: 10px 0 30px;
	}

	.close {
		margin-left: -130px;

		
		img {
			max-width: 29%;
			padding: 0;
		};	
	}

	.modal.in .modal-dialog {
	  -webkit-transform: translate(31%, 0);
	      -ms-transform: translate(31%, 0);
	       -o-transform: translate(31%, 0);
	          transform: translate(31%, 0);
	}

	.modal-dialog {
		width: 75%;
		max-width: 800px;
	}

	#testimonialsModal h3 {
		margin-top: 20px;
		padding-bottom: 30px;
	}

    #content {
		padding-top: 130px;
	}

	.main_nav {
		font-size: .65em;
	}

	.modal-content {
		margin-top: 25.5%;
	}

	.modal_nav {
		font-size: 1em;
	}

	.single_category_post {
		padding: 20px 5px 50px; 
	}

	.social_icons li img {
		margin-left: 0px;
	}

	.quote_box {
		margin-top: -200px;
		height: 200px;
	}

	.short_quote {
		font-size: .8em;
	}

	.circle {
		background-color: lighten(@blue, 61%);
		border-radius: 50%;
		margin: 5px auto;
		height: 200px;
		width: 200px;
	}
}


/***************************************************************************/







































