
/*******  LESS Style sheet for AirMaster
******************************************/

/**
 * CONTENTS
 *
 * SETTINGS
 * Global...............Globally-available variables and config.
 *
 *
 * GENERIC
 * Fonts................Font styles
 * 
 *
 * BASE
 * Headings.............H1–H6 styles.
 *
 *
 * TOOLS
 * Backgrounds..........background and background image position and styling.
 * Modals...............the slide-in modals for "find out more" link
 * Media Queries........all media querie code will be here
 *
 *
 * COMPONENTS
 * Wrappers.............Wrapping and constraining elements.
 * Page-head............The main page header.
 * Page-body............The main page body.
 * Page-foot............The main page footer.
 * 
 *
 */







/*****  SETTINGS  *****************************************************************************************************/

/**  Global  *************************************************************/

// COLOR
@red: rgb(217, 41, 62);
@blue: rgb(28, 85, 153);
@bg-lightGray: rgb(242,245,249);


img {
	max-width: 100%;
}

ul {
	list-style: none;
}


/*************************************************************************/




/*****  GENERIC  *****************************************************************************************************/

/**  Fonts  *************************************************************/


/**  TypeKit  *****************************/

.chaparralR {
	font-family: "chaparral-pro-n4","chaparral-pro",sans-serif;
	font-style: normal;
	font-weight: 400;
}

.chaparralI {
	font-family: "chaparral-pro-i4","chaparral-pro",sans-serif;
	font-style: italic;
	font-weight: 400;
}

.chaparralB {
	font-family: "chaparral-pro-n7","chaparral-pro",sans-serif;
	font-style: normal;
	font-weight: 700;
}

.chaparralBI {
	font-family: "chaparral-pro-i7","chaparral-pro",sans-serif;
	font-style: italic;
	font-weight: 700;
}

.calluna {
	font-family: "calluna-n4","calluna",serif;
	font-style: normal;
	font-weight: 400;
}

.sourcesans {
	font-family: "source-sans-pro-n7","source-sans-pro",sans-serif;
	font-style: normal;
	font-weight: 700;
}

/*********************************************/


#header {
	padding-top: 40px;
	h1 a, .email, .phone { 
		color: @red;
	};
}

h1 {
	font-size: 3.5em;
}

.nav_categories li a {
	text-transform: uppercase;
	font-size: .88em;
	color: @blue;
}

.email, .phone {
	font-size: 1.7em;
	font-weight: bolder;
	color: @red;
}

.main_body {
	font-size: 2.25em;
	color: @blue;
}

.location {
	font-size: 1.2em;
	color: @blue;
}

.single_category_post {
	font-weight: bolder;
}

.testimonial {
	color: @red;
	font-size: 1.7em;
}

.quote {
	font-size: 1.75em;
	font-style: italic;
}

.quote_name {
	text-transform: uppercase;
	color: lighten(@red, 25%);
}

h3, .about_title {
	color: @red;
	text-transform: uppercase;
}

.modal-body {
	font-size: 1.25em;
	h3, .modal_contact_info, .read_more {
		font-weight: bold;
	}
}

.modal_contact_info {
	color: @red;
	font-size: 2em;
}


.read_more a {
	color: @blue;
	text-transform: uppercase;
	display: inline-block;
	border-bottom: solid 2px @blue;
	padding-bottom: 5px;
	&:hover {
		text-decoration: none;
		color: lighten(@blue, 30%);
		border-bottom: solid 2px lighten(@blue, 30%);
	}
}

.about_description {
	font-size: 1.3em;
}

#footer {
	font-size: 1.4em;
	color: @blue;
	h4 {
		color: @red;
		text-transform: uppercase;
		letter-spacing: .15em;
		font-weight: bolder;
	};
}



//////////////////////////////////////////////////////////////////////////////



/*****  BASE  *****************************************************************************************************/

/**  Headings  *************************************************************/


h2 {
	text-align: center;
	text-transform: uppercase;
	padding-bottom: 20px;
	padding-top: 20px;
}

h3 	{
	
}


/***************************************************************************/



/*****  TOOLS  *****************************************************************************************************/

/**  Backgrounds  *************************************************************/

.main_top {
	background: url("../img/michigan.png") no-repeat;
	background-position: 100% 30%;
	background-size: 75%;
	padding-top: 200px;
	padding-bottom: 30px;
	margin-top: -200px;
}

/******************

.testimonial:after {
	content: "";
    background: url("../img/gray-circle.jpg") no-repeat center;
  	opacity: 0.09;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;  
}

*******************/


.emergency {
	background-color: @bg-lightGray;
}

#footer {
	border-top: solid 1px @red;
	background-color: @bg-lightGray;
}



/**  Fixed Headers  *************************************************************/

body {
	
}

#header {
	width: 100%;
	position: fixed;
	top: 0;
	background: white;
	padding: 30px 0;
	z-index: 500;
}

#content {
	padding-top: 300px;
}

.modal-header {

}

/** Scrolling header effects ****************************************************/

.main-logo img, .phone {
	 -webkit-transition: all 0.85s cubic-bezier(.52,-0.25,.83,.67);
  -moz-transition: all 0.85s cubic-bezier(.52,-0.25,.83,.67);
  -ms-transition: all 0.85s cubic-bezier(.52,-0.25,.83,.67);
  -o-transition: all 0.85s cubic-bezier(.52,-0.25,.83,.67);
  transition: all 0.85s cubic-bezier(.52,-0.25,.83,.67);
}

.email {
	-webkit-transition: all 0.85s cubic-bezier(.52,-0.85,.83,.67);
	 -moz-transition: all 0.85s cubic-bezier(.52,-0.85,.83,.67);
	 -ms-transition: all 0.85s cubic-bezier(.52,-0.85,.83,.67);
	  -o-transition: all 0.85s cubic-bezier(.52,-0.85,.83,.67);
	   transition: all 0.85s cubic-bezier(.52,-0.85,.83,.67);
}

.phone {
	-webkit-transition: all 0.8s cubic-bezier(.52,-0.25,.83,.67);
	 -moz-transition: all 0.8s cubic-bezier(.52,-0.25,.83,.67);
	 -ms-transition: all 0.8s cubic-bezier(.52,-0.25,.83,.67);
	  -o-transition: all 0.8s cubic-bezier(.52,-0.25,.83,.67);
	   transition: all 0.8s cubic-bezier(.52,-0.25,.83,.67);
}

.smaller img, .smaller .email {
  -webkit-transition: all 0.85s cubic-bezier(.52,-0.5,1.83,.97);
  -moz-transition:    all 0.85s cubic-bezier(.52,-0.5,1.83,.97);
  -ms-transition:     all 0.85s cubic-bezier(.52,-0.5,1.83,.97);
  -o-transition:      all 0.85s cubic-bezier(.52,-0.5,1.83,.97);
  transition:         all 0.85s cubic-bezier(.52,-0.5,1.83,.97);
}

.smaller .phone {
  -webkit-transition: all 0.9s cubic-bezier(.52,-0.5,.83,.067);
  -moz-transition:    all 0.9s cubic-bezier(.52,-0.5,.83,.067);
  -ms-transition:     all 0.9s cubic-bezier(.52,-0.5,.83,.067);
  -o-transition:      all 0.9s cubic-bezier(.52,-0.5,.83,.067);
  transition:         all 0.9s cubic-bezier(.52,-0.5,.83,.067);
}


.smaller img {
  max-width: 50%;
  margin-left: 5%;
}

.smaller .email, .smaller .phone {
	font-size: 1em;
	color: @red;

}

.smaller .email {
	margin-right: 120px;
}

.smaller .phone {
	margin-top: -19px;

}



/**  Modals  *************************************************************/

#textModal {
	
}

.modal-dialog {
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	width: 60%;
	max-width: 800px;
}

.modal-header {
	padding: 32px 0;
}

.modal-body {
	padding: 30px 40px;
	h3 {
		margin-top: 25px;
		margin-bottom: 35px
	}
}

.modal-content {
	min-height: 100vh;
}

.modal_contact_info {
	text-align: center;
	margin: 110px 0;
	p:last-child {
		margin-top: 100px;
	};
}

.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform .5s ease-out;
       -o-transition:      -o-transform .5s ease-out;
          transition:         transform .5s ease-out;
  -webkit-transform: translate(50%, 0);
      -ms-transform: translate(50%, 0);
       -o-transform: translate(50%, 0);
          transform: translate(50%, 0);
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
       -o-transform: translate(0, 0);
          transform: translate(0, 0);
}


.close {
	z-index: 200;
	float: left;
	color: @blue;
	margin-left: -140px;
	font-size: 5em;
	font-weight: lighter;
	background: white !important;
	opacity: 1;	
	border-radius: 20px 0 0 20px;
}

button.close {
	padding: 20px 30px 10px 30px;
	margin-top: -30px;
	max-height: 100%;

}

.close:hover {
		opacity: .95 !important;
	}



.modal-body .read_more {
	text-align: center;
	margin-bottom: 100px;
	font-size: 1.25em;
}

.modal_img img {
	width: 100%;
	max-height: 366px;
}



/**  Media Queries  *************************************************************/

@media screen and (max-width: 991px) {
    .map {
    	text-align: center;
    }

}


@media screen and (max-width: 767px) {

	header img {
		margin-bottom: 6%;
	}

	.testimonial, .modal_contact_info {
		font-size: 1.15em;
	}

	.modal-body .read_more {
		font-size: .95em;
	}

    .map {
    	text-align: center;
    }


	.modal.fade .modal-dialog {
	  -webkit-transition: -webkit-transform .5s ease-out;
	       -o-transition:      -o-transform .5s ease-out;
	          transition:         transform .5s ease-out;
	  -webkit-transform: translate(50%, 0);
	      -ms-transform: translate(50%, 0);
	       -o-transform: translate(50%, 0);
	          transform: translate(50%, 0);
	}

	.modal.in .modal-dialog {
	  -webkit-transform: translate(20%, 0);
	      -ms-transform: translate(20%, 0);
	       -o-transform: translate(20%, 0);
	          transform: translate(20%, 0);
	}

	.modal-dialog {
		margin-right: 0;
		margin-top: 0;
		margin-bottom: 0;
		width: 82%;
		max-width: 800px;
	}

}


@media screen and (max-width: 661px) {
    
    


}


/***************************************************************************/






/******************************************************************************************************

	COMPONENTS 

 *****************************************************************************************************/

/**  Wrappers  *************************************************************/


.container {
	max-width: 1900px;
}



/**  Page-head  *************************************************************/

.main_body, .location, .main_img_wrapper{
	padding: 20px 0;
}

.phone {
	margin-top: 3%;
}

	.modal .phone {
		margin-top: 0;
	}

ul.main_nav  {
	padding-left: 0;
}

.main_nav li {
	display: inline-block;
}

.nav_categories li a {
	margin: 0;
	padding: 0;
	padding-left: 10px;
}

.phone, .email, .nav_categories {
	text-align: right;
}

.main_img_wrapper img {
	max-width: 83%;	
}




/**  Page-body  *************************************************************/


.main_top {
	margin-bottom: 5px;
}

section {
	margin: 30px 0;
}


.business_categories {
	margin-bottom: -70px;
	margin-top: 70px;
}

.main_body {
	padding-right: 10%;
}

.single_category_post {
	margin: 90px 0;	
}

	.single_category_post img {
		border-radius: 100%;
		min-height: 400px;
		max-width: 80%;
	}

.category_info {
	padding: 20px 60px 90px 0px;
	p {
		padding: 5px 0;
	};
}

.emergency {
	padding: 50px 0;
	text-align: center;
	h3 {
	margin-bottom: 17%;
	margin-top: -1%;
	};
}


.about {
	margin-top: 10px;
	padding: 0 50px;
	text-align: center;
}

.about_description {
	margin-bottom: 3%;
}


.testimonial {
	padding: 70px 0;
}

	.quote, .quote_name {
		text-align: center;
	}

	.quote {
		margin-top: 30px;
	}
	.quote_name {
		margin-top: 5%;
	}



/**  Page-foot  *************************************************************/


#footer {
	margin-top: 30px;
	margin-left: 0px;
	padding: 50px;
	padding-top: 30px;
	.social_icons li {
		display: inline;
		img {
			max-width: 10%;
			margin-left: -8px;
			margin-right: 10px;
			margin-top: 10px;
		};
	};
}

.footer_info {
	padding-bottom: 6%;
	img {
		max-width: 70%;
		padding-bottom: 40px;
		padding-top: 6px;
	};	
}

.map {
	margin-left: 12%;
	min-height: 250px;
	text-align: right;
	border: solid 2px @blue;

}













































