{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://buildwithcraft.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}

	<div class="main_top chaparralR wow fadeIn">

		<div class="container">

			<div class="row">
			
				<div class="col-sm-9 col-xs-12">
					<div class="main_body wow ">
						{{ entry.body }}
					</div>
				</div>

				<div class="col-sm-6 col-xs-9">
					<div class="location wow ">
						{{ entry.location }}
					</div>
				</div>

			</div>
			
		</div>
		<!-- END CONTAINER -->


		<div class="main_img_wrapper fall wow fadeInLeft">

			

		</div>

	</div>


	
	
	<div class="container">

<!-- first testimonial -->
		
		<section class="testimonial wow fadeInUp">
			<div class="row">
			
			{% set entries = entry.testimonials %}

				{% for entry in entry.testimonials.limit(1).find() %}
				<div class="col-xs-10 col-xs-offset-1">	
					<p class="quote">{{ entry.fullQuote }}</p>
					<p class="quote_name">{{ entry.customerName }}</p>
				</div>
				{% endfor %}
			
			</div>
			<!-- end row -->
		</section>
		

<!-- END first testimonial -->




<!-- FOR LOOP to display different business categories -->
	
		<section class="business_categories wow">
				

				<div class="single_category_post wow" id="residential">
					
					{% for entry in craft.entries.section('residential') %}

						<div class="row">

							<div class="col-sm-6 col-xs-12">
								
								<div class="biz-img">
									{% set image = entry.image.first() %}
										<img src="{{ image.getUrl() }}" alt="">
								</div>

							</div>

							<div class="col-sm-6 col-xs-12">
								<div class="category_info">
								
									<h3>{{ entry.title }}</h3>
									{{ entry.body.getPage(1) }}
						
									<p class="read_more">
										<a data-toggle="modal" href="#resModal">find out more</a>
									</p>
								
								</div>
							</div>
				
						</div>
						<!-- end row -->

					{% endfor %}

				</div>
				<!-- end single_category_post -->
			

				<div class="single_category_post wow" id="commercial">
					
					{% for entry in craft.entries.section('commercialIndustrial') %}

						<div class="row">

							<div class="col-sm-6 col-sm-push-6 col-xs-12">
						
								<div class="biz-img">
									{% set image = entry.image.first() %}
										<img src="{{ image.getUrl() }}" alt="">
								</div>

							</div>

							<div class="col-sm-6 col-sm-pull-6 col-xs-12">

								<div class="category_info">

									<h3>{{ entry.title }}</h3>
									{{ entry.body.getPage(1) }}

									<p class="read_more">
										<a data-toggle="modal" href="#commModal">find out more</a>
									</p>

								</div>
							</div>

						</div>
						<!-- end row -->

					{% endfor %}
				</div>
				<!-- end single_category_post -->
				

				<div class="single_category_post wow " id="fireplace">
					
					{% for entry in craft.entries.section('fireplace') %}

						<div class="row">

							<div class="col-sm-6 col-xs-12">
								<div class="biz-img">
									{% set image = entry.image.first() %}
										<img src="{{ image.getUrl() }}" alt="">
								</div>
							</div>

							<div class="col-sm-6 col-xs-12">
								<div class="category_info">

									<h3>{{ entry.title }}</h3>
									{{ entry.body.getPage(1) }}

									<p class="read_more">
										<a data-toggle="modal" href="#fireModal">find out more</a>
									</p>
								</div>
							</div>

						</div>
						<!-- end row -->

					{% endfor %}

				</div>
				<!-- end single_category_post -->


				<div class="single_category_post" id="barbecue">

					{% for entry in craft.entries.section('barbecue') %}

						<div class="row">

							<div class="col-sm-6 col-sm-push-6 col-xs-12">

								<div class="biz-img">
									{% set image = entry.image.first() %}
										<img src="{{ image.getUrl() }}" alt="">
								</div>

							</div>

							<div class="col-sm-6 col-sm-pull-6 col-xs-12">
								<div class="category_info">

									<h3>{{ entry.title }}</h3>
									{{ entry.body.getPage(1) }}

									<p class="read_more">
										<a data-toggle="modal" href="#barModal">find out more</a>
									</p>
								</div>
							</div>

						</div>
						<!-- end row -->
					{% endfor %}
				</div>
				<!-- end single_category_post -->
				
			

		</section>

<!-- END FOR LOOP for business categories -->




<!-- second testimonial -->

		<section class="testimonial wow fadeInUp">
			<div class="row">
			
			{% set entries = entry.testimonials %}

				{% for entry in entry.testimonials.limit(1).offset(1) %}
				<div class="col-xs-10 col-xs-offset-1">	
					<p class="quote">{{ entry.quoteSnippet }}</p>
					<p class="quote_name">{{ entry.customerName }}</p>
				</div>
				{% endfor %}
			
			</div>
			<!-- end row -->
		</section>
	

<!-- END second testimonial -->

	</div>
	<!-- END CONTAINER -->




<!-- Emergency services-->
	
	<section class="fadeInUp">
		
		{% for entry in craft.entries.section('emergency') %}	

			<div class="single_category_post emergency">
				
				<div class="container">

					<div class="row">

						<div class="col-xs-12">
							<div>
								<h3>{{ entry.title }}</h3>

								<p class="about_description">{{ entry.emergencyServices }}</p>
							</div>
						</div>

					</div>
					<!-- end row -->

				</div>
				<!-- END CONTAINER -->

			</div>
			
		{% endfor %}
			
		

	</section>

<!-- END FOR LOOP for business categories -->





<!-- About Us section -->

	<div class="container">

		<section class="single_category_post about">
			<div class="row">

				{% for entry in craft.entries.section('about') %}

					<div class="col-md-10 col-md-offset-1 col-sm-12">	
						<h2 class="about_title">{{ entry.aboutUs }}</h2>
						<p class="about_description">{{ entry.aboutUsDescription }}</p>
						<!-- <p class="read_more">
							<a data-toggle="modal" href="#textModal">find out more</a>
						</p> -->
						<p class="read_more"><a>Read all of our customer testimonials</a></p>
					</div>

				{% endfor %}

			
			
			</div>
			<!-- end row -->
		</section>
	
<!-- END About Us -->



<!-- third testimonial -->
	
		<section class="testimonial wow fadeInUp">
			<div class="row">
			
			{% set entries = entry.testimonials %}

				{% for entry in entry.testimonials.limit(1).offset(2) %}
				<div class="col-xs-10 col-xs-offset-1">		
					<p class="quote">{{ entry.quoteSnippet }}</p>
					<p class="quote_name">{{ entry.customerName }}</p>
				</div>
				{% endfor %}
			
			</div>
			<!-- end row -->
		</section>
		
	</div>
	<!-- END CONTAINER -->

<!-- END third testimonial -->






{% endblock %}

















