{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://buildwithcraft.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}

	<div class="main_top chaparralR">

		<div class="container">

			<div class="row">
			
				<div class="col-sm-8">
					<div class="main_body">
						<p>{{ entry.body }}</p>
					</div>
				</div>

				<div class="col-sm-6">
					<div class="location">
						<p>{{ entry.location }}</p>
					</div>
				</div>

			</div>
			
		</div>
		<!-- END CONTAINER -->


		<div class="main_img_wrapper">

			{% set image = entry.headingImage.first() %}

				<img src="{{ image.getUrl() }}" alt="">

		</div>

	</div>


	
	
	<div class="container">

<!-- first testimonial -->
		
		<section class="testimonial wow fadeInUp">
			<div class="row">
			
			{% set entries = entry.testimonials %}

				{% for entry in entry.testimonials.limit(1).find() %}
				<div class="col-xs-10 col-xs-offset-1">	
					<p class="quote">{{ entry.quote }}</p>
					<p class="quote_name">{{ entry.customerName }}</p>
				</div>
				{% endfor %}
			
			</div>
			<!-- end row -->
		</section>
		

<!-- END first testimonial -->




<!-- FOR LOOP to display different business categories -->
	
		<section class="business_categories wow">
				

				<div class="single_category_post wow" id="residential">
					
					<div class="row">

						<div class="col-sm-6">
							{% set image = entry.image.first() %}
								<div class="biz-img">
									<img src="public/img/residential-heading-cooling.jpg" alt="">
								</div>
						</div>

						<div class="col-sm-6">
							<div class="category_info">

								<h3>Residential</h3>
								<p>Is it time for a new furnace? Maybe you just need a quote on the price for heat repair? We provide every- thing you could need for home heating, air conditioning, and HVAC care, including 24 hour emergency service. </p>

								<p class="read_more">
									<a data-toggle="modal" href="#resModal">find out more</a>
								</p>

							</div>
						</div>

					</div>
					<!-- end row -->

				</div>
				
			

				<div class="single_category_post wow" id="commercial">
					
					<div class="row">

						<div class="col-sm-6">

							<div class="category_info">
								<h3>Commercial &amp; Industrial</h3>
								<p>Our commercial team can design and execute a sophisticated cus- tom commercial heating and cooling system for your project, or provide simple 24 hour emergency repair service.

</p>

								<p class="read_more">
									<a data-toggle="modal" href="#commModal">find out more</a>
								</p>

							</div>
						</div>

						<div class="col-sm-6">
							{% set image = entry.image.first() %}

								<div class="biz-img">
									<img src="public/img/commercial-heating-cooling.jpg" alt="">
								</div>
						</div>

					</div>
					<!-- end row -->

				</div>
				
				

				<div class="single_category_post wow " id="fireplace">
					
					<div class="row">

						<div class="col-sm-6">
							{% set image = entry.image.first() %}

								<div class="biz-img">
									<img src="public/img/fireplace-sales-service.jpg" alt="">
								</div>
						</div>

						<div class="col-sm-6">
							<div class="category_info">
								<h3>Fireplace</h3>
								<p>With new technology, we can install a fireplace in any room for surprisingly cheap. You could have a new fireplace installed in 3-7 days.</p>

								<p>Do you need your fireplace inspected? Maybe you want to replace your old wood-burning fireplace with a conversion to gas, perhaps with an automatic remote starter.Perhaps you’re looking for a chic indoor electric fireplace. Need an estimate on getting something repaired?
								</p>

								<p class="read_more">
									<a data-toggle="modal" href="#fireModal">find out more</a>
								</p>
							</div>
						</div>

					</div>
					<!-- end row -->

				</div>
				


				<div class="single_category_post" id="barbecue">
					
					<div class="row">

						<div class="col-sm-6">
							<div class="category_info">
								<h3>Barbecue</h3>
								<p>A great american tradition, and most delicious way to prepare food.</p>

								<p>If you’re looking for the perfect travel tailgating bbq or need a complete custom design and install of a patio barbecue entertain- ment space, that is the true value of working with your neighbor- hood shop; we help you get what you need, not just having stuff you can buy, if you know exactly what you want.</p>

								<p>We can also help you get any barbecue accessory you’re missing or find you a barbecue replacement part or pieces.</p>

								<p class="read_more">
									<a data-toggle="modal" href="#barModal">find out more</a>
								</p>
							</div>
						</div>

						<div class="col-sm-6">
							{% set image = entry.image.first() %}

								<div class="biz-img">
									<img src="public/img/bbq-grills.jpg" alt="">
								</div>
						</div>

					</div>
					<!-- end row -->

				</div>
				
			

		</section>

<!-- END FOR LOOP for business categories -->




<!-- second testimonial -->

		<section class="testimonial wow fadeInUp">
			<div class="row">
			
			{% set entries = entry.testimonials %}

				{% for entry in entry.testimonials.limit(1).offset(1) %}
				<div class="col-xs-10 col-xs-offset-1">	
					<p class="quote">{{ entry.quote }}</p>
					<p class="quote_name">{{ entry.customerName }}</p>
				</div>
				{% endfor %}
			
			</div>
			<!-- end row -->
		</section>
	

<!-- END second testimonial -->

	</div>
	<!-- END CONTAINER -->




<!-- Emergency services-->
	
	<section class="fadeInUp">
		
		{% set entries = entry.businessCategories %}
			
			{% for entry in entry.businessCategories.limit(1).find() %}	

			<div class="single_category_post emergency">
				
				<div class="container">

					<div class="row">

						<div class="col-xs-12">
							<div>
								<h3> 24 Hour Emergency Services</h3>
							

								<p class="read_more">
									<a data-toggle="modal" href="#textModal">find out more</a>
								</p>
							</div>
						</div>

					</div>
					<!-- end row -->

				</div>
				<!-- END CONTAINER -->

			</div>
			
			{% endfor %}
			
		

	</section>

<!-- END FOR LOOP for business categories -->





<!-- About Us section -->

	<div class="container">

		<section class="single_category_post about wow fadeInUp">
			<div class="row">
				
				<div class="col-md-10 col-md-offset-1 col-sm-12">	
					<h2 class="about_title">{{ entry.aboutUs }}</h2>
					<p class="about_description">{{ entry.aboutUsDescription }}</p>
					<p class="read_more">
						<a data-toggle="modal" href="#textModal">find out more</a>
					</p>
				</div>
			
			
			</div>
			<!-- end row -->
		</section>
	
<!-- END About Us -->



<!-- third testimonial -->
	
		<section class="testimonial wow fadeInUp">
			<div class="row">
			
			{% set entries = entry.testimonials %}

				{% for entry in entry.testimonials.limit(1).offset(2) %}
				<div class="col-xs-10 col-xs-offset-1">		
					<p class="quote">{{ entry.quote }}</p>
					<p class="quote_name">{{ entry.customerName }}</p>
				</div>
				{% endfor %}
			
			</div>
			<!-- end row -->
		</section>
		
	</div>
	<!-- END CONTAINER -->

<!-- END third testimonial -->






{% endblock %}

















